.item_wrap {
  padding: 20px;
  background-color: var(--black);
  border-radius: 4px;
}

.item_wrap .title {
  color: var(--lightGray);
}

.item_wrap .board_paragraph_desc {
  margin-top: 4px;
  margin-bottom: 26px;
  color: var(--lightGray);
}
